/* .image-per{
    height: 38em;
    width: auto;
    justify-items: center;
    margin-left: 9em;
    margin-top: -2.5em;
} */ 


/* @media (min-width: 1024px) { 
.vr{
    margin-left: -12em;
}
}

@media (min-width: 768px) { 

.vr{
    margin-left: 2em;
}

 }	 */